astroid==3.2.4
contourpy==1.2.1
cycler==0.12.1
dill==0.3.8
fonttools==4.53.1
iniconfig==2.0.0
isort==5.13.2
kiwisolver==1.4.5
matplotlib==3.9.1
mccabe==0.7.0
numpy==2.0.0
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
py3langid==0.3.0
pyparsing==3.1.2
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pytest==8.2.2
python-dateutil==2.9.0.post0
scipy==1.14.0
six==1.16.0
tomlkit==0.13.0
